/*背景*/
.img_bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-100;
	margin:0;
	/*background-size:cover;background-image:url(../img/bg.jpg);background-repeat: no-repeat;background-position: top center;background-size: 100% 100%;*/
}
.img_bg img{
	width:100%;
	height:100%;
}
/*内容*/
main {
  width: 960px;
  margin: 0px auto;
}
p{font-size: 15px;}
input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  display: block;
  float: left;
  text-align: center;
  position: relative;
  width: 20%;
  padding: 20px 0;
  font-size: 24px;
  color:#BBBBBB;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}
label:hover {
  cursor: pointer;
  color:#fff;
}
.visited{
	color:#fff;
}
.pic{
	position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/avatar.jpg);
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    padding: 0 !important;
    top: 10px;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4,#tab5:checked ~ #content5 {
  display: block;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}
section{padding-top: 80px;}
section label{
	width:158px; 
	height: 57px;
	background: url(../img/name.png) ;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
   /* margin-left: 44%;
    margin-top: 7%;*/
    position: fixed;
    bottom:50px;
    left: 45%;
}
/*关于*/
#content1 li{
	width: 32%;
	height:40px;
	line-height: 40px;
	float: left;
	color:#fff;
	font-size: 18px;
	margin-left: 18%;
}
#content1 li:nth-child(1),#content1 li:nth-child(2){padding-top: 20px;}
/*作品*/
#content2{
	width: 100%;
	height: 465px;
	background-image: url(../img/bg-tile.png);
	top: 80px;
	}
#content2 label{
	background: url(../img/name2.png) ;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
#content2 .works_bj{
	margin-top: 50px;
	width: 285px;
	height:230px;
	margin-right: 30px;
	float: left;
	background-image: url(../img/Mac-Sliding-Portfolio.png);
	-webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /*动态效果*/
    position: relative;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
#content2 .works_bj:nth-child(1){margin-left: 20px;}
#content2 .works_bj:nth-child(3){margin-right: 20px;}
/*#content2 .works_bj .work{
	width: 266px;
	height: 148px;
	margin-left: 11px;
	margin-top: 11px;
}*/
#content2 .works_bj img {
	width: 266px;
	height: 148px;
	position: relative;
	top: 11px;
	left:11px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#content2 .works_bj .dtl {
	background: #333;
	width: 236px;
	height: 148px;
	position: absolute;
	top: 11px;
	left:11px;
	opacity: 0;
	visibility: hidden;
	padding: 0 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/*灰框*/
#content2 .works_bj .dtl h3,
			#content2 .works_bj .dtl p,
			#content2 .works_bj .dtl a {
				opacity: 0;
				position: relative;
				-webkit-transition: all 0.3s 0.3s;
				-moz-transition: all 0.3s 0.3s;
				-o-transition: all 0.3s 0.3s;
				transition: all 0.3s 0.3s;
			}
			
			#content2 .works_bj .dtl h3 {
				top: -100px;
				color: #fff;
				font-size: 16px;
				font-weight: normal;
				margin-top: 20px;
				margin-bottom: 10px;
				text-decoration: underline;
			}
			
			#content2 .works_bj .dtl p {
				top: 100px;
				font-size: 14px;
				margin-bottom: 10px;
				line-height: 1.2;
				color: #ccc;
				text-indent: 10px;
			}
			
			#content2 .works_bj .dtl a {
				top: 100px;
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 2px;
				color: #333;
				float: right;
				font-size: 13px;
				padding: 2px 5px;
				text-align: center;
				text-decoration: none;
			}
			
			#content2 .works_bj .dtl a:hover {
				background: #e6e6e6;
				border: 1px solid #adadad;
			}
			
			#content2 .works_bj:hover .dtl h3,
			#content2 .works_bj:hover .dtl p,
			#content2 .works_bj:hover .dtl a {
				top: 0;
				opacity: 1;
			}
			
			#content2 .works_bj:hover .dtl {
				visibility: visible;
				opacity: 0.9;
			}
/*首页*/
#content3{
	text-align: center;
}
#content3 p {
	color: #fff;
	font-size: 30px;
    padding: 30px 0 20px;
}

/*技能*/
#content4{
	padding-top: 80px;
}
#content4 li{
	list-style: circle;
	width: 90%;
	height:40px;
	line-height: 40px;
	color:#fff;
	font-size: 16px;
	margin-left: 10%;
}
/*联系*/
#content5{
	clear: both;
}
#content5 div{
	padding-top: 20px;
	width: 35%;
	display: inline-block;
	float: left;
	color:#fff;
	margin-left: 15%;
}
#content5 div:nth-child(1) p{line-height:35px;}
#content5 div:nth-child(2) p{line-height:24px;}
.wite{color: #fff;}
